CarServiceClient/CarServiceClient/CarServiceClient/Connected Services/CarRentalService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="www.someplace.com/2018/11/02" elementFormDefault="qualified" targetNamespace="www.someplace.com/2018/11/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CarRequestObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CarId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Key" nillable="true" type="xs:string" />
  <xs:element name="CarInfoObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Avaliable" type="xs:boolean" />
        <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RegistrationNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Year" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>